{include file="layout/header" title="$title" keywords="" /}
<link rel="stylesheet" href="__STATIC__/js/plugins/bootstrapvalidator/css/bootstrapValidator.css"/>
<link href="__STATIC__/js/plugins/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
{include file="layout/left" groupId="$groupId" keywords="" /}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">首页菜单管理</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">首页菜单管理</h3>
                    </div>
                    <div class="row" style="padding-top: 15px;padding-right: 15px">
                        <div class="col-md-6">
                            <form class="form-inline ml-3" action="{:url()}"  method="get">
                                <div class="input-group">
                                    <input class="form-control form-control-navbar"  name="k" type="search"  value="{$k}" placeholder="名称" aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" id="search" type="submit">查找</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#create-modal">新增</button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>图标</th>
                                <th>显示名称</th>
                                <th>关联商品类型</th>
                                <th>自定义服务</th>
                                <th>排序</th>
                                <th>显示</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='list' id='menu'}
                            <tr>
                                <td><img src="{$menu.path}"  width="80px" height="80px"/></td>
                                <td>{$menu.name}</td>
                                <td>{$menu.goodsTypeName}</td>
                                <td>{$menu.flag > 0 ? '是' : '--'}</td>
                                <td>{$menu.sequence}</td>
                                <td>{$menu.visible ==1 ? '显示' : '隐藏'}</td>
                                <td>
                                    <a href="javascript:void(0)"  class="btn btn-sm btn-primary"  data-id="{$menu.id}"   data-toggle="modal"   data-target="#edit-modal">编辑</a>
                                    <a href="javascript:void(0)"  class="btn btn-sm btn-danger"  data-id="{$menu.id}" data-toggle="modal" data-target="#delete-modal">删除</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增首页菜单</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <form role="form" class="" id="add-form"  method="post">
                                <div class="form-group form-inline">
                                    <label for="" class="col-md-3">名称</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control col-md-12" maxlength="30"  name="name" placeholder="名称">
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-md-3">菜单类型</label>
                                    <div class="col-md-4">
                                        <div class="radio">
                                            <label style="padding-left: 0px;font-weight: normal">
                                                <input type="radio" name="tag" id=""  value="1" checked> 商品类型菜单
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="radio">
                                            <label style="padding-left: 0px;font-weight: normal">
                                                <input type="radio" name="tag"   value="2" >自定义菜单
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label for="" class="col-md-3">商品类型</label>
                                    <div class="col-md-9">
                                        <select name="type" class="form-control">
                                            {foreach name=":getTypeLevelList(2)" id="type"}
                                            <option value="{$type.id}" >{if $type.level == 2}&nbsp;&nbsp;&nbsp;&nbsp;|-&nbsp;{/if}{$type.name}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label for="" class="col-md-3">服务类型</label>
                                    <div class="col-md-9">
                                        <select name="flag" class="form-control">
                                            <option value="1" >金融服务</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-md-3" >显示顺序</label>
                                    <div class="col-md-9">
                                        <input type="number" min="0" class="form-control" value="0" name="sequence" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-md-3 control-label">图片上传</label>
                                    <div class="col-md-8">
                                        <input id="add-file" name="file" type="file" data-show-caption="true">
                                        <input  type="hidden" name="path" id="add-upload-file"  value="" />
                                        <p class="help-block">支持jpg、jpeg、png格式，大小不超过2M</p>
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-md-3">显示状态</label>
                                    <div class="col-md-8">
                                        <select class="form-control" name="visible">
                                            <option  value="1">显示</option>
                                            <option value="0">隐藏</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="add-request">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">修改首页菜单</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" class="" id="edit-form"  method="post">
                                <div class="form-group form-inline">
                                    <label for="" class="col-md-3">名称</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control col-md-12" maxlength="30"  name="edit_name" placeholder="名称">
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-md-3">菜单类型</label>
                                    <div class="col-md-4">
                                        <div class="radio">
                                            <label style="padding-left: 0px;font-weight: normal">
                                                <input type="radio" name="edit_tag"   value="1" > 商品类型菜单
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="radio">
                                            <label style="padding-left: 0px;font-weight: normal">
                                                <input type="radio" name="edit_tag"   value="2" >自定义菜单
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label for="" class="col-md-3">商品类型</label>
                                    <div class="col-md-9">
                                        <select name="edit_type" class="form-control">
                                            {foreach name=":getTypeLevelList(2)" id="type"}
                                            <option value="{$type.id}" >{if $type.level == 2}&nbsp;&nbsp;&nbsp;&nbsp;|-&nbsp;{/if}{$type.name}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label for="" class="col-md-3">服务类型</label>
                                    <div class="col-md-9">
                                        <select name="edit_flag" class="form-control">
                                            <option value="1" >金融服务</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-md-3" >显示顺序</label>
                                    <div class="col-md-9">
                                        <input type="number" min="0" class="form-control" value="0" name="edit_sequence" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-md-3 control-label">图片上传</label>
                                    <div class="col-md-8">
                                        <input id="edit-file" name="edit_file" type="file" data-show-caption="true">
                                        <input  type="hidden" name="edit_path" id="edit-upload-file"  value="" />
                                        <p class="help-block">支持jpg、jpeg、png格式，大小不超过2M</p>
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-md-3">显示状态</label>
                                    <div class="col-md-8">
                                        <select class="form-control" name="edit_visible">
                                            <option  value="1">显示</option>
                                            <option value="0">隐藏</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="edit-request" data-id="">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">是否确认删除该菜单?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
                <button type="button" class="btn btn-primary" data-id="" id="delete-request">是</button>
            </div>
        </div>
    </div>
</div>
{include file="layout/footer" title="$title" keywords="" /}
<script src="__STATIC__/js/plugins/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
<script src="__STATIC__/js/plugins/bootstrap-fileinput/js/locales/zh.js"></script>
<script type="text/javascript" src="__STATIC__/js/plugins/bootstrapvalidator/js/bootstrapValidator.js"></script>
<script type="text/javascript">
    var url = '{:url("admin/index_menu/index")}';
    $('a[href="'+url+'"]').addClass('active');
    $('a[href="'+url+'"]').parent().parent().parent().addClass('menu-open');
    $(function () {
        $("#add-file").fileinput({
            language: 'zh', //设置语言
            uploadUrl: '?s=admin/file/upload',  //上传地址
            showUpload: true, //是否显示上传按钮
            showRemove:true,
            dropZoneEnabled: false,
            showCaption: true,//是否显示标题
            allowedPreviewTypes: ['image'],
            allowedFileTypes: ['image'],
            allowedFileExtensions:  ['jpg', 'png','jpeg'],
            previewSettings: {
                image: {width: "100", height: "100"},
            },
            maxFileSize : 5120,
            maxFileCount: 20,
            uploadExtraData: function(previewId, index) {   //额外参数的关键点
                var obj = {};
                obj.type = 'type_index_icon';
                return obj;
            }
        });
        $('#add-file').on("fileuploaded", function(event, data) {
            if(data.response){
                $('#add-upload-file').val(data.response.data.filename);
                $('#add-file').closest('.form-group').removeClass('has-error');
                $('#add-file').closest('.form-group').find('.help-block').html('');
            }
        });
        $('#create-modal').on('show.bs.modal', function (event) {
            update();
        });

        $("#edit-modal").on('show.bs.modal',function (event) {
            var id = $(event.relatedTarget).data('id');
            $('#edit-request').data('id',id);
            $.ajax({
                url:'?s=admin/index_menu/get&id='+id,
                data:{},
                dataType:'json',
                success:function (data) {
                    $("#edit-request").data('id',id);
                    $("#edit-form").find('input[name="edit_name"]').val(data.data.name);
                    $("#edit-form").find(":radio[name='edit_tag'][value='" + data.data.tag + "']").prop("checked", "checked");
                    if(data.data.type > 0){
                        $("#edit-form").find('select[name="edit_type"]').val(data.data.type);
                    }
                    if(data.data.flag > 0){
                        $("#edit-form").find('select[name="edit_flag"]').val(data.data.flag);
                    }
                    $("#edit-form").find('input[name="edit_sequence"]').val(data.data.sequence);
                    update2();
                    $("#edit-upload-file").val(data.data.path);
                    var imgTag = "<img width='100px' height='100px' src='"+data.data.preview+"' class='file-preview-image' alt='' title=''>";
                    //初始化图片
                    $('#edit-file').fileinput('destroy');
                    $("#edit-file").fileinput({
                        language: 'zh', //设置语言
                        uploadUrl: '?s=admin/file/upload',  //上传地址
                        showUpload: true, //是否显示上传按钮
                        showRemove:true,
                        dropZoneEnabled: false,
                        showCaption: true,//是否显示标题
                        allowedPreviewTypes: ['image'],
                        allowedFileTypes: ['image'],
                        allowedFileExtensions:  ['jpg', 'png','jpeg'],
                        maxFileSize : 5120,
                        maxFileCount: 1,
                        initialPreview: [imgTag],
                        previewSettings: {
                            image: {width: "100", height: "100"},
                        },
                        // maxImageWidth: '1920px',
                        // maxImageHeight: '520px',
                        uploadExtraData: function(previewId, index) {   //额外参数的关键点
                            var obj = {};
                            obj.type = 'banner';
                            return obj;
                        }
                    });
                    $('#edit-file').on("fileuploaded", function(event, data) {
                        if(data.response)
                        {
                            $('#edit-upload-file').val(data.response.data.filename);
                        }
                    });
                }
            });

        });

        $("#delete-modal").on('show.bs.modal',function (event) {
            var id = $(event.relatedTarget).data('id');
            $('#delete-request').data('id', id);
        });

        $("#add-form").bootstrapValidator({
            excluded:[":disabled"],
            live: 'disabled',
            message: 'This value is not valid',
            fields: {
                name: {
                    message: 'The name is not valid',
                    validators: {
                        notEmpty: {
                            message: '名称不能为空'
                        },
                        stringLength: {
                            min: 2,
                            max: 30,
                            message: '最大长度为30个字符'
                        },
                        // regexp: {
                        //     regexp: /^[a-zA-Z0-9_\.]+$/,
                        //     message: '只能是数字和字母_.'
                        // }
                    }
                },
                path: {
                    message: 'The name is not valid',
                    validators: {
                        notEmpty: {
                            message: '请上传图标'
                        },
                    }
                }
            }
        });
        $("#edit-form").bootstrapValidator({
            excluded:[":disabled"],
            live: 'disabled',
            message: 'This value is not valid',
            fields: {
                edit_name: {
                    message: 'The name is not valid',
                    validators: {
                        notEmpty: {
                            message: '名称不能为空'
                        },
                        stringLength: {
                            min: 2,
                            max: 30,
                            message: '最大长度为30个字符'
                        },
                        // regexp: {
                        //     regexp: /^[a-zA-Z0-9_\.]+$/,
                        //     message: '只能是数字和字母_.'
                        // }
                    }
                },
                edit_path: {
                    message: 'The name is not valid',
                    validators: {
                        notEmpty: {
                            message: '请上传图标'
                        },
                    }
                }
            }
        });

        $("#add-request").click(function () {
            //验证数据
            $("#add-form").data('bootstrapValidator').validate();
            //获取数据
            //数据提交
            if($("#add-form").data('bootstrapValidator').isValid()) {
                $.ajax({
                    type: 'post',
                    url: '/?s=admin/index_menu/create',
                    data: $('#add-form').serialize(),
                    dataType: 'json',
                    success: function (data) {
                        if (data.status == 0) {
                            window.location.reload();
                        } else {
                            alert(data.msg);
                        }
                    }
                });
            }
        });
        $("#edit-request").click(function () {
            //验证数据
            $("#edit-form").data('bootstrapValidator').validate();
            //获取数据
            var id = $(this).data('id');
            if(id <= 0){
                return ;
            }
            //数据提交
            if ($("#edit-form").data('bootstrapValidator').isValid()) {
                $.ajax({
                    type: 'post',
                    url: '/?s=admin/index_menu/edit&id='+id,
                    data: $('#edit-form').serialize(),
                    dataType: 'json',
                    success: function (data) {
                        if (data.status == 0) {
                            window.location.reload();
                        } else {
                            alert(data.msg);
                        }
                    }
                });
            }
        });

        $("#delete-request").click(function () {
            //获取数据
            var id = $(this).data('id');
            if(id <= 0){
                return ;
            }
            //数据提交
            $.ajax({
                type: 'post',
                url: '/?s=admin/index_menu/delete&id='+id,
                data: {},
                dataType: 'json',
                success: function (data) {
                    if (data.status == 0) {
                        window.location.reload();
                    } else {
                        alert(data.msg);
                    }
                }
            });
        });

        $('input[name="tag"]').click(function () {
           update();
        });
        $('input[name="edit_tag"]').click(function () {
            update2();
        });

        var update = function () {
            var value = $('input[name="tag"]:checked').val();
            if(value == 1){
                $('select[name="type"]').closest('.form-group').show();
                $('select[name="flag"]').closest('.form-group').hide();
            }else{
                $('select[name="type"]').closest('.form-group').hide();
                $('select[name="flag"]').closest('.form-group').show();
            }
        }

        var update2 = function () {
            var value = $('input[name="edit_tag"]:checked').val();
            if(value == 1){
                $('select[name="edit_type"]').closest('.form-group').show();
                $('select[name="edit_flag"]').closest('.form-group').hide();
            }else{
                $('select[name="edit_type"]').closest('.form-group').hide();
                $('select[name="edit_flag"]').closest('.form-group').show();
            }
        }
        
    })




</script>