{include file="layout/header" title="$title" keywords="" /}
<link rel="stylesheet" href="__STATIC__/js/plugins/bootstrapvalidator/css/bootstrapValidator.css"/>
{include file="layout/left" groupId="$groupId" keywords="" /}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">企业认证</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">企业认证</h3>
                    </div>
                    <div class="row" style="padding-top: 15px;padding-right: 15px">
                        <div class="col-md-6">
                            <form class="form-inline ml-3" action="{:url()}"  method="get">
                                <div class="input-group">
                                    <select class="form-control" name="type"  placeholder="类型">
                                        <option value="" {if $type eq ""}selected{/if}>全部</option>
                                        <option  {if $type eq "采购商"}selected{/if} value="采购商">采购商</option>
                                        <option  {if $type eq "供应商"}selected{/if} value="供应商">供应商</option>
                                    </select>
                                </div> &nbsp;&nbsp;
                                <div class="input-group">
                                    <input class="form-control form-control-navbar"  name="k" type="search"  value="{$k}" placeholder="企业名称/法人代表/联系人" aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" id="search" type="submit">查找</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>企业名称</th>
                                <th>注册类型</th>
                                <th>法人代表</th>
                                <th>公司固话</th>
                                <th>联系人</th>
                                <th>填写者</th>
                                <th>提交时间</th>
                                <th>拒绝原因</th>
                                <th>审核状态 </th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='list' id='company'}
                            <tr>
                                <td>{$company.company_name}</td>
                                <td>{$company.reg_role}</td>
                                <td>{$company.legal_representative}</td>
                                <td>{$company.ent_phone}</td>
                                <td>{$company.contact_point}</td>
                                <td>{$company.username}<br />{$company.phone}</td>
                                <td>{:date('Y-m-d',$company.edit_time)}</td>
                                <td>{$company.refuse_reason}</td>
                                <td>{:getCertificationStatus($company.status)} </td>
                                <td>
                                    <a href="{:url('view','id='.$company.id)}"  target="_blank" class="btn btn-sm btn-primary">详情</a>
                                    <a href="javascript:void(0)"  class="btn btn-sm btn-danger"  data-id="{$company.id}" data-toggle="modal"   data-target="#refuse-modal">拒绝</a>
                                    <a href="javascript:void(0)"  class="btn btn-sm btn-primary"  data-id="{$company.id}" data-toggle="modal"  data-name="{$company.company_name}"  data-target="#confirm-modal">通过</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5">{$page}</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="refuse-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">企业审核提示</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- form start -->
                            <form role="form" class="" id="refuse-form">
                                <div class="form-group">
                                    <label for="">拒绝原因</label>
                                    <textarea   class="textarea2"  maxlength="200" placeholder="拒绝原因..."  name="reason"  style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="refuse-request" data-id="">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">企业审核提示</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                 确认审核通过?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="confirm-request">确认</button>
            </div>
        </div>
    </div>
</div>

{include file="layout/footer" title="$title" keywords="" /}
<script type="text/javascript" src="__STATIC__/js/plugins/bootstrapvalidator/js/bootstrapValidator.js"></script>
<script type="text/javascript" src="__STATIC__/js/admin/certification.js"></script>