<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary  elevation-4" style="background: #006699;">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="__STATIC__/img/white_logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">JZDC</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="__STATIC__/img/user.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{:getUserName()}</a>
            </div>
        </div>
    
        {php}
        $publicPrivilege = [
            [
                'managerKey' => '个人中心',
                'managerUrl' => 'javascript:;',
                'managerIcon'=> 'fa-user',
                'managerVal' => [['name'=>'修改手机号','url'=>url('admin/user/editPhone'),'icon'=>'fa-phone'],['name'=>'修改登录密码','url'=>url('admin/user/changePassword'),'icon'=>'fa-key']]
            ]
        ];
        $rolePrivilege = [
            3=>[
                [
                    'managerKey' => '运营管理',
                    'managerUrl' => 'javascript:;',
                    'managerIcon'=> 'fa-dashboard',
                    'managerVal' => [['name'=>'Banner管理','url'=>url('admin/banner/index'),'icon'=>'fa-image'],['name'=>'广告图管理','url'=>url('admin/banner/adIndex'),'icon'=>'fa-image'],['name'=>'公告管理','url'=>url('admin/notice/index'),'icon'=>'fa-bell']]
                ],[
                    'managerKey' => '商品订单',
                    'managerUrl' => 'javascript:;',
                    'managerIcon'=> 'fa-cart-arrow-down',
                    'managerVal' => [['name'=>'管理订单','url'=>url('admin/order/index'),'icon'=>'fa-database']] 
                ],[
                  'managerKey' => '企业认证',
                  'managerIcon'=> 'fa-users',
                  'managerUrl' => url('admin/company_certification/index'),
                  'managerVal' => []
                 ],[
                    'managerKey' => '金融服务',
                    'managerIcon'=> 'fa-money',
                    'managerUrl' => url('admin/service/index'),
                    'managerVal' => []
                ],[
                  'managerKey' => '招商服务',
                  'managerIcon'=> 'fa-cny',
                  'managerUrl' => url('admin/service/merchant'),
                  'managerVal' => []
                ],
                [
                    'managerKey' => '集众保理',
                    'managerIcon'=> 'fa-money',
                    'managerUrl' => url('admin/factoring/index'),
                    'managerVal' => []
                ],
                [
                 'managerKey' => '投诉建议',
                 'managerIcon'=> 'fa-feed',
                 'managerUrl' => url('admin/suggestion/index'),
                  'managerVal' => []
                ],
                [
                    'managerKey' => '商品管理',
                    'managerIcon'=> 'fa-inbox',
                    'managerUrl' => '#',
                    'managerVal' => [['name'=>'新增商品','url'=>url('admin/product/create'),'icon'=>'fa-database'],['name'=>'草稿','url'=>url('admin/product/listDraft'),'icon'=>'fa-database'],['name'=>'待审核','url'=>url('admin/product/listPending'),'icon'=>'fa-database'],['name'=>'已审核','url'=>url('admin/product/listpass'),'icon'=>'fa-database']]
                ],[
                   'managerKey' => '数据报表',
                   'managerIcon'=> 'fa-bar-chart',
                   'managerUrl' => '#',
                   'managerVal' => [   ['name'=>'商品交易报表','url'=>url('admin/report/trade'),'icon'=>'fa-database'],
                                       ['name'=>'卖家交易报表','url'=>url('admin/report/supplier'),'icon'=>'fa-cubes'],
                                       ['name'=>'买家交易报表','url'=>url('admin/report/buyer'),'icon'=>'fa-shopping-cart'],
                                       ['name'=>'订单数据报表','url'=>url('admin/report/order'),'icon'=>'fa-reorder'],
                                       ['name'=>'企业注册认证数据','url'=>url('admin/report/company'),'icon'=>'fa-check']
                                   ]
                  ]
            ],
            2=>[
                [
                    'managerKey' => '商城管理',
                    'managerUrl' => 'javascript:;',
                    'managerIcon'=> 'fa-dashboard',
                    'managerVal' => [['name'=>'全站商品分类','url'=>url('admin/product_category/index'),'icon'=>'fa-cubes']]
                ],[
                    'managerKey' => '商品管理',
                    'managerIcon'=> 'fa-inbox',
                    'managerUrl' => '#',
                    'managerVal' => [['name'=>'待审核','url'=>url('admin/product/listPending'),'icon'=>'fa-database'],['name'=>'已审核','url'=>url('admin/product/listpass'),'icon'=>'fa-database']]
                ],[
                    'managerKey' => '系统菜单',
                    'managerUrl' => 'javascript:;',
                    'managerIcon'=> 'fa-dashboard',
                    'managerVal' => [['name'=>'首页菜单','url'=>url('admin/index_menu/index'),'icon'=>'fa-image'],['name'=>'版本发布','url'=>url('admin/index/version'),'icon'=>'fa-reorder']]
                ],[
                    'managerKey' => '会员中心',
                    'managerUrl' => 'javascript:;',
                    'managerIcon'=> 'fa-group',
                    'managerVal' => [ ['name'=>'管理会员','url'=>url('admin/member/index'),'icon'=>'fa-group'],
                                      [ 'name'=>'企业管理', 'url'=>url('admin/companyInfo/index'),'icon'=> 'fa-university' ]
                                    ]
                ]
            ]
        ];
        
        $privilege = array_merge($rolePrivilege[getGroupId()],$publicPrivilege);

        {/php}

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                {notempty name="privilege"}
                {foreach name="privilege" item="vo"}
                    <li class="nav-item has-treeview">
                        <a href="{$vo.managerUrl}" class="nav-link">
                            <i class="nav-icon fa {$vo.managerIcon}"></i>
                            <p>
                                {$vo.managerKey}
                                {notempty name="$vo.managerVal"} <i class="right fa fa-angle-left"></i>{/notempty}
                            </p>
                        </a>
                        {notempty name="$vo.managerVal"}
                        <ul class="nav nav-treeview">
                            {foreach name="vo.managerVal" item="vvoo"}
                            <li class="nav-item">
                                <a href="{$vvoo.url}" class="nav-link">
                                    <i class="fa {$vvoo.icon} nav-icon"></i>
                                    <p>{$vvoo.name}</p>
                                </a>
                            </li>
                            {/foreach}
                        </ul>
                        {/notempty}
                    </li>
                {/foreach}
                {/notempty}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
