{include file="layout/header" title="" keywords="" /}

{include file="layout/left" groupId="$groupId" keywords="" /}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">商品列表</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">商品列表</h3>
                    </div>
                    <div class="row" style="padding-top: 15px;padding-right: 15px">
                        <div class="col-md-11">
                            <form class="form-inline" action="{:url()}"  method="get">
                                <div class="input-group">
                                    <select class="form-control" name="supplier"  placeholder="供应商">
                                        <option value="0" {if $supplier eq 0}selected{/if}>全部供应商</option>
                                        {volist name=":getSupplierList()"  id='user'}
                                        <option  {if $supplier eq $user.id}selected{/if} value="{$user.id}">{$user.real_name}</option>
                                        {/volist}
                                    </select>
                                </div>&nbsp;&nbsp;
                                <div class="input-group">
                                    <select class="form-control" name="state">
                                        <option  {if $state eq -1} selected{/if} value="-1">全部状态</option>
                                        <option  {if $state eq 0} selected{/if} value="0">待审核</option>
                                        <option  {if $state eq 1}selected{/if} value="1">审核通过</option>
                                        <option   {if $state eq 2}selected{/if} value="2">审核失败</option>
                                    </select>
                                </div>&nbsp;&nbsp;
                                <div class="input-group">
                                    <select class="form-control" name="push">
                                        <option  {if $push eq -1} selected{/if} value="-1">是否推荐</option>
                                        <option  {if $push eq 0} selected{/if} value="0">否</option>
                                        <option  {if $push eq 1}selected{/if} value="1">是</option>
                                    </select>
                                </div>&nbsp;&nbsp;
                                <div class="input-group">
                                    <input class="form-control form-control-navbar"  name="k" type="search"  value="{$k}" placeholder="商品名称" aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" id="search" type="submit">查找</button>
                                    </div>
                                </div>&nbsp;&nbsp;
                            </form>
                        </div>
                        <div class="col-md-1">
                            {if $groupId eq 3}
                            <a class="btn btn-primary pull-right"  target="_blank"  href="{:url('admin/goods/create')}" >新增</a>
                            {/if}
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th width="150px">封面图片</th>
                                <th >商品名称</th>
                                <th>供应商</th>
                                <th>总销量</th>
                                <th>时间</th>
                                <th>排序</th>
                                <th>上架</th>
                                <th>状态</th>
                                <th width="230px">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='list' id='goods'}
                            <tr>
                                <td>{if $goods.icon_path}<img src="{$goods.icon_path}"   style="cursor: pointer;max-width: 100px;" />{/if}</td>
                                <td>{$goods.title}</td>
                                <td>{$goods.supplier_name}</td>
                                <td>{$goods.sold}</td>
                                <td>{:date('Y-m-d H:i',$goods.time)}<br />¥{$goods.min_price}起</td>
                                <td>{$goods.shop_sequence}</td>
                                <td>{$goods.state == 2 ? '是' : '否'}</td>
                                <td>{:getGoodsMallState($goods.mall_state,1)}</td>
                                <td>
                                    <a href="{:url('admin/goods/view','id='.$goods.id)}"  target="_blank" class="btn btn-sm btn-info">详情</a>
                                    {if $groupId == 2}
                                    <a href="javascript:void(0)"  class="btn btn-sm btn-secondary"  data-id="{$goods.id}" data-toggle="modal"   data-target="#check-modal">审核</a>
                                        
                                    {/if}
                                    {if $groupId == 3}
                                        <a href="{:url('admin/goods/edit','id='.$goods.id)}"  target="_blank" class="btn btn-sm btn-primary" >编辑</a>
                                        {if $goods.state == 2}
                                            <a href="{:url('admin/goods/edit','id='.$goods.id)}"  target="_blank" data-toggle="modal"  data-id="{$goods.id}"  data-state="1" data-target="#down-modal"  class="btn btn-sm btn-warning">下架</a>
                                        {else}
                                            <a href="{:url('admin/goods/edit','id='.$goods.id)}"  target="_blank" data-toggle="modal" data-id="{$goods.id}"  data-state="2" data-target="#up-modal"  class="btn btn-sm btn-warning">上架</a>
                                        {/if}
                                        <a href="javascript:void(0)"  class="btn btn-sm btn-danger"  data-id="{$goods.id}" data-toggle="modal"   data-target="#delete-modal">删除</a>
                                        {if $goods.push==0}
                                            <a href="javascript:void(0)"  class="btn btn-sm btn-info"  data-id="{$goods.id}" data-toggle="modal"  data-sure='#push-up-request'  data-target="#push-up-modal">设为推荐</a>
                                        {else/}
                                            <a href="javascript:void(0)"  class="btn btn-sm btn-danger"  data-id="{$goods.id}" data-toggle="modal"  data-sure='#push-down-request'  data-target="#push-down-modal">取消推荐</a>
                                        {/if}
                                    {/if}
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="8">{$page}</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">是否确认删除该商品?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
                <button type="button" class="btn btn-primary" data-id="" id="delete-request">是</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="up-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">是否确认上架该商品?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
                <button type="button" class="btn btn-primary" data-id="" id="up-request">是</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="down-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">是否确认下架该商品?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
                <button type="button" class="btn btn-primary" data-id="" id="down-request">是</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="check-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">审核操作</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" class="" id="check-form">
                                <div class="form-group form-inline">
                                    <label  class="col-md-2">状态</label>
                                    <select class="form-control" name="mall_state">
                                        <option  value="0">待审核</option>
                                        <option  value="1">审核通过</option>
                                        <option  value="2">审核失败</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-id="" id="check-request">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade push" id="push-up-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">设为推荐吗？</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
                <button type="button" class="btn btn-primary" data-id="" id="push-up-request">是</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade push" id="push-down-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">取消推荐吗？</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
                <button type="button" class="btn btn-primary" data-id="" id="push-down-request">是</button>
            </div>
        </div>
    </div>
</div>

{include file="layout/footer" title="$title" keywords="" /}
<script src="__STATIC__/js/plugins/layer/layer.js"></script>
<script src="__STATIC__/js/admin/admin.function.js"></script>
<script  type="text/javascript">
    var url = '{:url("admin/goods/index")}';
    $('a[href="'+url+'"]').addClass('active');
    $('a[href="'+url+'"]').parent().parent().parent().addClass('menu-open');

    $(function () {
        $('#delete-modal').on('show.bs.modal', function (event) {
            var id = $(event.relatedTarget).data('id');
            $("#delete-request").data('id',id);
        });

        $("#delete-request").click(function () {
            var id = $(this).data('id');
            if(id < 0){
                return;
            }
            $.ajax({
                type:'post',
                url:'?s=admin/goods/delete&id='+id,
                data:{},
                dataType:'json',
                success:function (data) {
                    if(data.status == 0){
                        window.location.reload();
                    }else{
                        alert(data.msg);
                    }
                }
            })
        });

        $('#up-modal').on('show.bs.modal', function (event) {
            var id = $(event.relatedTarget).data('id');
            $("#up-request").data('id',id);
        });
        $("#up-request").click(function () {
            var id = $(this).data('id');
            if(id < 0){
                return;
            }
            $.ajax({
                type:'post',
                url:'?s=admin/goods/update&id='+id,
                data:{state:2},
                dataType:'json',
                success:function (data) {
                    if(data.status == 0){
                        window.location.reload();
                    }else{
                        alert(data.msg);
                    }
                }
            })
        });
        $('#down-modal').on('show.bs.modal', function (event) {
            var id = $(event.relatedTarget).data('id');
            $("#down-request").data('id',id);
        });

        $("#down-request").click(function () {
            var id = $(this).data('id');
            if(id < 0){
                return;
            }
            $.ajax({
                type:'post',
                url:'?s=admin/goods/update&id='+id,
                data:{state:1},
                dataType:'json',
                success:function (data) {
                    if(data.status == 0){
                        window.location.reload();
                    }else{
                        alert(data.msg);
                    }
                }
            })
        });

        $('#check-modal').on('show.bs.modal', function (event) {
            var id = $(event.relatedTarget).data('id');
            $("#check-request").data('id',id);
        });

        $("#check-request").click(function () {
            var id = $(this).data('id');
            if(id < 0){
                return;
            }
            var state = $('#check-form').find('select[name="mall_state"]').val();
            $.ajax({
                type:'post',
                url:'?s=admin/goods/check&id='+id,
                data:{state:state},
                dataType:'json',
                success:function (data) {
                    if(data.status == 0){
                        window.location.reload();
                    }else{
                        alert(data.msg);
                    }
                }
            })
        });
    });
    var url = '{:url("admin/goods/index")}';
    $('a[href="'+url+'"]').addClass('active');
    $('a[href="'+url+'"]').parent().parent().parent().addClass('menu-open');

    $('.push').on('show.bs.modal', function (event) {
        var id = $(event.relatedTarget).data('id');
        $($(event.relatedTarget).data('sure')).data('id',id);
    });

    $('#push-up-request').click(function(){
        var id = $(this).data('id');
        if(id < 0){
            return;
        }
        var url = '{:url("Goods/pushUp")}';
        $.post(url,{'id':id} ,function(res){
            returnData(res);
        });
    })

    $('#push-down-request').click(function(){
        var id = $(this).data('id');
        if(id < 0){
            return;
        }
        var url = '{:url("Goods/pushDown")}';
        $.post(url,{'id':id} ,function(res){
            returnData(res);
        });
    })


</script>