.idea
composer.lock
*.log
public/uploads/banner/*
public/uploads/type_icon/*
public/uploads/type_index_icon/*
public/uploads/goods_thumb/*
public/uploads/order_icon/*
public/uploads/goods/*
public/uploads/order_img/*
public/uploads/order/*
public/uploads/company_cert/*
public/uploads/goods_color/*
public/uploads/attached/*